@model QuizProject.Models.AddEditQuizViewModel


<div class="row">
    <div class="col-lg-6">

        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(t => t.QuizTitle)
                @Html.TextBoxFor(t => t.QuizTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.QuizTitle)
            </div>
            <div class="form-group">
                @Html.LabelFor(t => t.Difficulty)
                @Html.TextBoxFor(t => t.Difficulty, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.Difficulty)
            </div>
            <div class="form-group">
                @Html.LabelFor(t => t.Image_url)
                @Html.TextBoxFor(t => t.Image_url, new { @class = "form-control" })
                @Html.ValidationMessageFor(t => t.Image_url)
            </div>
            <div class="form-group">
                @Html.LabelFor(t => t.SelectedCategoryId)
                @Html.DropDownListFor(t => t.SelectedCategoryId, new SelectList(Model.CategoryOption, "CategoryId", "CategoryName", Model.SelectedCategoryId))
                @Html.ValidationMessageFor(t => t.SelectedCategoryId)
            </div>

            <input type="submit" class="btn btn-warning" value="Save Changes" />

        }
    </div>
</div>